@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-x {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-scroll-x {
    animation: scroll-x 25s linear infinite;
  }

  
  

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}